* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    font-weight: 400;
}
.sprite {
    background-image: url(https://static.mediacdn.vn/cafef.vn/images/sprite_cafef_v18.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.header {
    width: 100%;
}
.header_logo {
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 0 -4px 12px;
}
.justify-space-between {
    justify-content: space-between;
}
.d-flex {
    display: flex;
}
.wp1040 {
    width: 1040px;
    margin: 0 auto;
}
.relative {
    position: relative
}

.header_logo .logo a {
    background-position: 0 0;
    width: 136px;
    height: 34px;
    display: block;
    background: url(https://cafefcdn.com/web_images/cafef_logo2022.svg);
    background-size: 100%;
    margin-top: 4px;
}
.ma_ck {
    z-index: 999;
    position: absolute;
    top: 0;
    background: 0 0;
    right: 0;
    width: 620px;
    margin-right: 35px;
}
.ma_ck ul {
    float: left;
    display: flex;
}
.ma_ck ul li {
    border-right: 1px dotted #c2c2c2;
    height: 36px;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #676767;
    font-family: Roboto-Regular;
    width: 87px;
    float: left;
    padding-top: 4px;
}
.ma_ck .icon_dropdown {
    background-position: -161px 0;
    width: 28px;
    height: 29px;
    display: inline-block;
    margin-top: 5px;
    right: -35px;
    position: absolute;
}
